In [11]:
import pandas as pd

idx=['apple', 'banana', 'pear','orange','mango']

d = {'price' : pd.Series([1.0,1.0,1.5,1.5,3.0], idx),
     'color' : pd.Series(['red', 'yellow', 'brown', 'orange','green'],idx),
     'sweetness' : pd.Series(['medium', 'high', 'medium', 'medium','high'],idx)
     }

df=pd.DataFrame(d)
df

        price   color sweetness
apple     1.0     red    medium
banana    1.0  yellow      high
pear      1.5   brown    medium
orange    1.5  orange    medium
mango     3.0   green      high

In [13]:
#get all rows,  third and fourth columns using index (slice) ( integer )
df.iloc[:, 2:4]

       sweetness
apple     medium
banana      high
pear      medium
orange    medium
mango       high

In [19]:
#Get first row , 2nd and 4th cols using index ( slice )( integer )
df.iloc[0:3, 0:2]

        price   color
apple     1.0     red
banana    1.0  yellow
pear      1.5   brown

In [29]:
#get all rows,  third and fourth columns using index (slice) ( index-value )
df.loc['apple':'pear',['price','color']]

        price   color
apple     1.0     red
banana    1.0  yellow
pear      1.5   brown

In [53]:
#df['price'] is shortcut for <<>> df.loc[:,'price']
print(df['price'])
print()
print(df.loc[:,'price'])

apple     1.0
banana    1.0
pear      1.5
orange    1.5
mango     3.0
Name: price, dtype: float64

apple     1.0
banana    1.0
pear      1.5
orange    1.5
mango     3.0
Name: price, dtype: float64